<form>
<p class="font-weight-bolder text-center text-dark">MI FOTO DE PERFIL</p>
  <img src="<%= @profile.foto.try(:url) %>" alt="" width="200" height="200" class="rounded rounded-circle mx-auto d-block">
  <br>
  <div class="card border-info mb-3 ">
  <h5 class="card-header text-white bg-info mb-3">Mis Datos Personales</h5>
  <div class="card-body">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre" class="text-dark">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" disabled value="<%=@profile.nombre%>">
    </div>
    <div class="form-group col-md-6">
      <label for="apellido" class="text-dark">Apellido:</label>
      <input type="text" class="form-control" id="apellido" placeholder="Apellido" disabled value="<%=@profile.apellido%>">
    </div>
  </div>
  <div class="form-group">
    <label for="direccion" class="text-dark">Dirección:</label>
    <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" disabled value="<%=@profile.direccion%>">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="ciudad" class="text-dark">Ciudad:</label>
      <input type="text" class="form-control" id="ciudad" disabled value="<%=@profile.ciudad%>">
    </div>
    <div class="form-group col-md-4">
      <label for="estado" class="text-dark">Estado</label>
      <input type="text" class="form-control" id="estado" disabled value="<%=@profile.estado%>">
    </div>
    <div class="form-group col-md-2">
      <label for="zip" class="text-dark">Código Postal:</label>
      <input type="text" class="form-control" id="zip" disabled value="<%=@profile.zip%>">
    </div>
  </div>
  <%=link_to "Editar perfil", edit_profile_path(@profile), {class: "btn btn-outline-secondary"} %>
  </div>
  </div>
</form>