<h1 class="h3 mb-2 text-gray-800 text-center">VENTAS</h1>
<div>  
  <%= link_to new_sale_path, {class: "btn btn-outline-info btn-md", id: "crear-venta-btn"}  do %>
    <span>Realizar Ventas</span>
  <% end %>
</div>
<br />
<br />
    <div class="table-responsive">
    <table class="table table-bordered table-hover" id="tabla_ventas" width="60%" cellspacing="0">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th>Importe</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
          <% if @ventas.empty? %>
          <tr> 
            <td> No hay ventas </td><td></td><td></td><td></td><td></td><td></td> 
          </tr>
          <% else %>
            <% @ventas.each do |venta| %>
              <tr> 
                <td> <%= venta.id %> </td>
                <td> <%= venta.user.email %> </td>
                <td> <%= venta.try(:client).try(:nombre) %> </td>
                <td> <%= venta.importe %> </td>
                <td> 
                  <%= link_to 'Detalles', sale_path(venta), {class: "btn btn-outline-info btn-xs", remote: true} %> 
                  </td>
                  <td>
                  <%= link_to 'Borrar', venta, method: :delete, data: { confirm: 'Eliminar la venta?' }, class: "btn btn-outline-danger btn-xs" %> 
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
<%= render 'modal_sales' %>


