<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prueba Laboratorio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>
  </head>
  <body id="page-top">
  <nav class="navbar navbar-expand bg-dark topbar mb-4 static-top ">
  <a class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Sistema de Ventas", root_path , {class: "navbar-brand text-white"} %></a>
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
<i class="fa fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item active">
<a class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Perfil", root_path , {class: "nav-link text-white"} %></a>
</li>

<li class="nav-item active">
<a class="<%= 'active' if current_page?(categories_path) %>"><%= link_to "Categorias", categories_path , {class: "nav-link text-white"} %></a>
</li>
<li class="nav-item active">
<a class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Productos", products_path , {class: "nav-link text-white"} %></a>
</li>
<li class="nav-item active">
<a class="<%= 'active' if current_page?(clients_path) %>"><%= link_to "Clientes", clients_path , {class: "nav-link text-white"} %></a>
</li>
<li class="nav-item active">
<a class="<%= 'active' if current_page?(suppliers_path) %>"><%= link_to "Proveedores", suppliers_path , {class: "nav-link text-white"} %></a>
</li>
<li class="nav-item active">
<a class="<%= 'active' if current_page?(sales_path) %>"><%= link_to "Ventas", sales_path , {class: "nav-link text-white"} %></a>
</li>
<li class="nav-item active">
<a class="<%= 'active' if current_page?(warehouses_path) %>"><%= link_to "Almacen", warehouses_path , {class: "nav-link text-white"} %></a>
</li>
</ul>
<%= form_tag( '/search', options = { class: "form-inline my-2 my-lg-0" }) do %>
<div class="input-group">
<%= text_field_tag("termino", value = nil, options = { class: "form-control bg-light border-0 small", placeholder: "Busqueda de Productos..."}) %>
<div class="input-group-append">
<%= submit_tag(value = "Buscar", options = { class: "btn btn-danger my-2 my-sm-0" }) do %>
<i class="fas fa-search fa-sm"></i>
<% end %>
</div>
</div>
<% end %>
<ul class="navbar-nav ml-auto">
<li class="nav-item dropdown no-arrow d-sm-none">
<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-search fa-fw"></i>
</a>
<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
<form class="form-inline mr-auto w-100 navbar-search">
<div class="input-group">
<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
<div class="input-group-append">
<button class="btn btn-primary" type="button">
<i class="fas fa-search fa-sm"></i>
</button>
</div>
</div>
</form>
</div>
</li>


<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="mr-2 d-none d-lg-inline text-white small">Usuario Activo: <%= current_user.profile.nombre %></span>
<img class="img-profile rounded-circle" src="<%=current_user.profile.foto.url %>">
</a>
<div class="dropdown-menu animated--grow-in" aria-labelledby="userDropdown">
<a><%= link_to profile_path(current_user.profile), html_options: { class: "dropdown-item"} do %>Datos de Perfil</a>
<%end%>
<div class="dropdown-divider"></div>
<a><%= link_to destroy_user_session_path, method: :delete, html_options: { class: "dropdown-item"} do %>Cerrar Sesion</a>
<%end%> 
</ul>
</nav>

    <div id="wrapper">     
          <div class="container-fluid bg-white">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
